@charset "UTF-8";

*{
    box-sizing: border-box;   
}
#main{
    width:1000px;
    margin:30px auto;
    border:none;
    border-radius: 6px;
}
#main a{
    text-decoration: none;
}
#section{
	width:100%;
	display:flex;
}
#section>.guestbook{
	display:inline-block;
    min-height: 400px;
    width:430px;
    padding:20px;
    flex: 1;
}

#section>.board{
	display:inline-block;
    min-height: 400px;
    width:430px;
    padding:20px;
    flex: 1;
}
#main header{
    height:90px;
    background: #e1eec3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}
header nav{
    position: absolute;
    right:5px;
    bottom:10px;
}
#main footer{
    background-color:#e1eec3;
    text-align: center;
    vertical-align: middle;
    padding:15px;
}